.characters{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2% 3% 0 3%;
}
.character{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 6%;
    background-color: black;
    flex-wrap: wrap;
    border-radius: 0% 50px;
   
    width: 30%;
    .img{
        display: flex;
        background-repeat: no-repeat;
        background-position: center;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        img{
            width: 100%;
            
        }
    }
    .infopersonaje{
        display: flex;
        flex-direction: column;
        .texto{
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: white;

        }
        img{
            width: 30%;
        }
        h1{
            padding-bottom: 3%;
        }
        .role{
            display: flex;
            flex-direction: row;
            align-items: center;
            h1{
                padding-left: 5%;
            }
            padding-bottom: 5%;
        }
        .heart{
            font-size: 300%;
            color: white;
            cursor: pointer;
            padding-bottom: 5%;
        }
        .heart.favorite{
            color: red;
        }
    }
}