.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    background-color: grey;
    .navbar-options{
        display: flex;
        justify-content: space-between;
        margin-left: 40%;
        width: 400px;
        .navbar-option{

        }
    }
    .user-options{
        padding-left: 36%;
    }
}